/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */

:root {
  --black: #0D0D0D;
  --dkblue: #0d314b;
  --brown: #8C6453;
  --red: #F22E2E;
  --faded-red: #F26363;
  --light-green: #94F2AF;
  --white: #F2F2F2;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
  
html {
  box-sizing: border-box;
}
  
*, *::before, *::after {
  box-sizing: inherit;
}

/* generic styles for the page */
  
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
  
h1, h2, h3 {
  margin: 0;
}
  
a {
  color: var(--faded-red);
}
  
a:hover {
  color: var(--red);
  text-decoration: none;
}

/* navbar styles */

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}
  
nav h1 a {
  font-family: var(--sans);
}
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
  
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
  
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--light-green);
}
  
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}
  
nav a:hover {
  color: var(--faded-red);
}
  
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--light-green);
}
  
nav a:hover, nav [class*="fa-"]:hover {
  color: var(--faded-red);
}
  
.button {
  background-color: var(--faded-red);
  padding: 0.5rem;
  border-radius: 5px;
}
  
.button:hover {
  color: var(--white);
  background-color: var(--red);
}
  
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
    
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
  
/* intro styles */

#intro {
  padding-bottom: 10rem;
}
  
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}
  
#intro .name {
  font-family: var(--mono);
}
  
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--light-green);
  display: block;
}
  
#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

/* contact styles */

#contact {
  background-color: var(--brown);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
  
#contact p {
  max-width: 360px;
}
  
#contact p:last-child {
  margin-top: 3rem;
}

/* footer styles */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  font-size: 84%;
}
  
footer ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 3rem;
  margin: 2.1rem 0;
  padding: 0;
  font-size: 250%;
}
